.search{
    outline: none;
    background: none;
    border: 1px solid black;
    border-radius: 5px ;
    padding: 5px;
    width: auto;
}

.sidebar{
    animation: sideAnimation 0.3s ;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: auto;
    width: 35%;
    position: absolute;
    margin-top: -20px;
    z-index: 1;
    
}
@keyframes sideAnimation {
    from{
        margin-left: -400px;
    } to{
        margin-left: 0;
    }
}
.form-control:focus{
    border-color: rgb(255, 193, 7 );
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.651);
    
}
